_target_: src.models.tokenizer.model.Tokenizer

vq_args:
  num_vq_embeddings: 8192
  latent_channels: 768
  layers_per_block: 1
  down_block_types: ["DownEncoderBlock2D", "DownEncoderBlock2D", "DownEncoderBlock2D", "DownEncoderBlock2D", "DownEncoderBlock2D"]
  up_block_types: ["UpDecoderBlock2D", "UpDecoderBlock2D", "UpDecoderBlock2D", "UpDecoderBlock2D", "UpDecoderBlock2D"]
  block_out_channels: [32, 64, 128, 256, 512]
  norm_num_groups: 8


ckpt_loader:
  _target_: src.utils.ckpt_loader.CkptLoader
  base_ckpt: ""
  base_prefix: "estimator."
  base_strict: False
  target_prefix: ""
  exclude_layers: []

# vqgan_loss:
#   _target_: src.models.tokenizer.vqgan.vqperceptual.VQLPIPSWithDiscriminator
#   disc_conditional: False
#   disc_in_channels: 3
#   disc_start: 0
#   disc_weight: 0.8
#   codebook_weight: 1.0