_target_: src.models.coords_map_module.CoordsMapModule


defaults:
  - estimator: default

optimizer_init:
  lr: 3e-4
  weight_decay: 1e-5
# adam + step lr scheduler

# optimizer: adam
# scheduler: reduce_on_plateau
# lr_schedule_cfg:
#   mode: max
#   factor: 0.5
#   patience: 2
#   interval: epoch

# ranger + one cycle lr scheduler 
optimizer: ranger
scheduler: one_cycle
lr_schedule_cfg:
  max_lr: ${model.optimizer_init.lr}
  steps_per_epoch: ${trainer.limit_train_batches}
  epochs: ${trainer.max_epochs}
  cycle_momentum: false


# scheduler: cosine
# lr_schedule_cfg:
#   warmup_factor: 0.001
#   warmup_epochs: 1
#   warmup_method: linear
#   anneal_method: cosine
#   anneal_point: 0.72
#   steps: [0.66, 0.88]
#   target_lr_factor: 0
#   poly_power: 0.9
#   step_gamma: 0.1
  # T_0: 1
  # T_mult: 2

train_vis_step: 1000
val_vis_step: 1000
test_vis_step: 50
predict_vis_step: 50
preprocess_batch:
  _target_: src.data.collate_importer.FunctionImporter
  signature:  src.data.collate_importer.preprocess_batch
lr_monitor: val/mssd_recall
vis_dir: "${paths.output_dir}/vis"
vis_all_samples: true